@model IEnumerable<CategoryProduct.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Category", "AddCategory", "Category", new { @class = "btn btn-primary" })
</p>


<p>
    @Html.ActionLink("Report", "ReportMethd", "Category", new { @class = "btn btn-info" })
</p>

<table class="table">
    <tr>
        <th>
            Category
        </th>
        <th>
            Active
        </th>
        <th>
            De -Active
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @{ if (item.Status == 1)
                    {
                        @Html.ActionLink(item.CategoryName, "ProductList", "Product", new { CategoryID = item.CategoryId }, null)
                    }
                }
            </td>
            <td>
                <button type="button" class="btn btn-info" onclick="window.location= '@Url.Action("Active", "Category", new {CategoryId = item.CategoryId } , null)'">Activate</button>

            </td>
            <td>

                <button type="button" class="btn btn-success" onclick="window.location= '@Url.Action("Deactive", "Category", new {CategoryId = item.CategoryId } , null)'">Deactivate</button>

            </td>

        </tr>
    }

</table>


@{


    double totalPages = ViewBag.TotalPages;

    for (int i = 1; i <= totalPages; i++)
    {

        <ul class="pagination">
            <li>
                @Html.ActionLink(i.ToString(), "Index", new { a = i })

            </li>
        </ul>
    }
}


<br />

<br />
<br />


@Html.ActionLink("Log Out", "Logout", new { @class = "btn btn-primary" })
