@model IEnumerable<MVC_Web_API.Models.emp>

@{
    ViewBag.Title = "ListOFEmploye";
}

<h2>ListOFEmploye</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joindate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.basicpay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dept.deptname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desig.designame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade.gradedescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp2.empname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.empname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joindate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.basicpay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dept.deptname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desig.designame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade.gradedescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp2.empname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.empcode }) |
            @Html.ActionLink("Details", "Details", new { id=item.empcode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.empcode })
        </td>
    </tr>
}

</table>
