@model IEnumerable<CategoryProduct.Models.Product>

@{
    ViewBag.Title = "ProductList";
}
<br />
<br />
<h2>ProductList</h2>
<br />
<br />


<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.ActionLink("Add New Product", "Create", new { CategoryId = item.CategoryId }, new { @class = "btn btn-primary" });
        break;
    }

  
    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-success" })|


            </td>

        </tr>

    }

</table>





<Div>



    @{


        double totalPages = ViewBag.TotalPagesOfProduct;

        for (int i = 1; i <= totalPages; i++)
        {

            <ul class="pagination">
                <li>
                    @Html.ActionLink(i.ToString(), "ProductList", new { CategoryId = @Session["CategoryIDForList"] ,  a = i })

                </li>
            </ul>
        }
    }

    
</Div>

<div>

    @Html.ActionLink("Back To Category", "Index", "Category")
</div>


